@model Voting.Models.ViewModels.NumberOfCategoriesViewModel

@{
    ViewData["Title"] = "Vote";
}
@section CSS{
    <link href="~/css/votingIndex.css" rel="stylesheet" />
}
<button disabled class="btn btn-lg btn-outline-info">Choose Your Candidates</button>
<br /><br />
<form asp-controller="Voting" asp-action="VoteFor" method="post">
    @for (int i = 1; i <= Model.NoOfCategories; i++)
    {
    <div>
        <input type="hidden" name="CatId" value="@i" />
        @await Component.InvokeAsync("VoteForCandidatesInCategory", new { catId = i })
        <hr /><br /><br />

    </div>
    }
    <input type="submit" value="Submit" class="btn btn-lg btn-dark"/>
</form>
<br />

@section Scripts{
    <script src="~/js/votingIndex.js" asp-append-version="true"></script>
}