@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>Please Sign In to Vote</h2>
    <br />
    <h2><a class="btn btn-lg" asp-area="Identity" asp-controller="Account" asp-action="Login">Sign In To Vote</a></h2>
    <br /><br />
    

</div>
