@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>Please Sign In to Vote</h2>
    <br />
    <h3><a class="btn btn-lg" asp-area="Identity" asp-controller="Account" asp-action="Login">Sign In To Vote</a></h3>
    <br /><br />
    <h3><a class="btn btn-lg" asp-area="Identity" asp-controller="Admins" asp-action="AdminLogin">Sign In As Admin</a></h3>

</div>
