@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>Please Sign In to Vote</h2>
    <br />
    <h3><a class="btn btn-lg" asp-area="Identity" asp-controller="Account" asp-action="Login">Sign In</a></h3>
   
</div>
